{% extends "base.html" %}

{% block content %}

	<br>
<br>
    <div class="cont">
        <div class="form sign-in">
            <h2>Welcome</h2>
            <form name="login_form">
                <label for="email">
                <span>Email</span>
                <input type="email" name="email" class="field" required />
            </label>
            <label for="password">
                <span>Password</span>
                <input type="password"  name="password" class="field" required/>
            </label>

            <p class="error error&#45;&#45;hidden"></p>
            <p class="forgot-pass">Forgot password?</p>
                <input type="submit" value="Log In" class="btn submit">

            </form>




        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">

                    <h3>Don't have an account? Please Sign up!<h3>
                </div>
                <div class="img__text m--in">

                    <h3>If you already has an account, just sign in.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>

            <div class="form sign-up">
                <h2>Create your Account</h2>
                <form name="signup_form">
                    <label for="name">
                    <span>Name</span>
                    <input  type="text" name="name" class="field" required />
                </label>
                    <label for="email">
                    <span>Email</span>
                    <input type="email" name="email" class="field" required/>
                </label>
                <label for="password">
                    <span>Password</span>
                    <input type="password" name="password" class="field" required/>
                </label>
                    <input type="submit" value="Sign Up" class="btn">


                </form>


            </div>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>
{% endblock %}